/node_modules         # dependencies
/.next/               # Next.js build cache
/out/                 # next export output
/build                # production build
.env*                 # environment files (.env.local, .env.production, etc.)
/.DS_Store             # macOS metadata
*.pem                 # private key / cert
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo          # TypeScript incremental build info
next-env.d.ts          # Next.js env type
